# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 0a661b615fb9ad9be0509aa557981f9d457b7989e6bde89272a738fef283bf9d9f93134dd75b925e14e9c8bc96e4c065962785c3e75d9ad9c6c4ea822c8d7920

test:
  secret_key_base: 3f8b7759378de280ade1e41cf487352cd265098b5586ba7e49b14eabca65025cf2f06a3f53898889b0243ccead48ed89f9f0ae93cadfa69f834908b6925ae502

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
